include:
  - template: Auto-DevOps.gitlab-ci.yml

stages:
  - build
  - test
  - deploy  # dummy stage to follow the template guidelines
  - review
  - dast
  - staging
  - canary
  - production
  - incremental rollout 10%
  - incremental rollout 25%
  - incremental rollout 50%
  - incremental rollout 100%
  - performance
  - cleanup
  - trigger_docker_build


.production: &production_template
  extends: .auto-deploy
  stage: production
  script:
    - auto-deploy check_kube_domain
    - auto-deploy download_chart
    - auto-deploy ensure_namespace
    - auto-deploy initialize_tiller
    - auto-deploy create_secret
    - auto-deploy deploy
    - auto-deploy delete canary
    - auto-deploy persist_environment_url
  artifacts:
    paths: [environment_url.txt, tiller.log]
    when: always
  rules:
    - if: '$CI_DEPLOY_FREEZE != null'
      when: never
    - if: '$CI_KUBERNETES_ACTIVE == null || $CI_KUBERNETES_ACTIVE == ""'
      when: never
    - if: '$STAGING_ENABLED'
      when: never
    - if: '$CANARY_ENABLED'
      when: never
    - if: '$INCREMENTAL_ROLLOUT_ENABLED'
      when: never
    - if: '$INCREMENTAL_ROLLOUT_MODE'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

production:
  <<: *production_template
  environment:
    name: mpr-dev
    url: https://mpr.acdh-dev.oeaw.ac.at
    deployment_tier: production

deploy_mpr:
  <<: *production_template
  environment:
    name: mpr-prod
    url: https://mpr.acdh.oeaw.ac.at
    deployment_tier: production

deploy_viecpro:
  <<: *production_template
  environment:
    name: viecpro-prod
    url: https://viecpro.acdh-dev.oeaw.ac.at
    deployment_tier: production

deploy_viecpro_dev:
  <<: *production_template
  environment:
    name: viecpro-dev
    url: https://viecpro-dev.acdh-dev.oeaw.ac.at
    deployment_tier: production
 
deploy_pmb:
  <<: *production_template
  environment:
    name: pmb-prod
    url: https://pmb.acdh.oeaw.ac.at
    deployment_tier: production

deploy_acdh21:
  <<: *production_template
  environment:
    name: acdh21-dev
    url: https://acdh21.acdh-dev.oeaw.ac.at
    deployment_tier: production

deploy_ica:
  <<: *production_template
  environment:
    name: ica-prod
    url: https://ica.acdh-dev.oeaw.ac.at
    deployment_tier: production

trigger_docker_build:
  stage: trigger_docker_build
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  trigger: acdh-oeaw/apis/apis-docker-public

