[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
acdh-django-charts = "==0.*,>=0.5.3"
apis-bibsonomy = "==0.*,>=0.2.3"
apis-core = "==0.16.*,>=0.16.33"
apis-highlighter = "==0.*,>=0.8.18"
convertdate = "==2.*,>=2.3.0"
dephell = {version = "==0.*,>=0.8.3", extras = ["full"]}
dj-database-url = "==0.*,>=0.5.0"
django = "==3.1.8"
django-allow-cidr = "==0.*,>=0.3.1"
django-autocomplete-light = "==3.*,>=3.8.1"
django-crispy-forms = "==1.*,>=1.10.0"
django-crum = "==0.*,>=0.7.9"
django-csp = "==3.*,>=3.7.0"
django-extensions = "==3.*,>=3.1.0,>=3.1.3"
django-filter = "==2.*,>=2.4.0"
django-guardian = "==2.*,>=2.3.0"
django-model-utils = "==4.*,>=4.1.1"
django-reversion = "==3.*,>=3.0.8"
django-summernote = "==0.*,>=0.8.11"
django-tables2 = "==2.*,>=2.3.3"
djangorestframework = "==3.*,>=3.12.2"
djangorestframework-csv = "==2.*,>=2.1.0"
djangorestframework-jsonschema = "==0.*,>=0.1.1"
djangorestframework-xml = "==2.*,>=2.0.0"
drf-spectacular = "==0.*,>=0.11.1"
graphviz = "==0.*,>=0.17.0"
gunicorn = "==20.*,>=20.0.4"
jmespath = "==0.*,>=0.10.0"
jsonschema = "==3.*,>=3.2.0"
lxml = "==4.*,>=4.6.2"
mysqlclient = "==2.*,>=2.0.3"
openpyxl = "==3.*,>=3.0.7"
pandas = "==0.25.3"
pyyaml = "==5.*,>=5.3.1"
rdflib = "==5.*,>=5.0.0"
regex = "==2020.*,>=2020.11.13"
requests = "==2.*,>=2.25.0"
scikit-learn = "==0.*,>=0.24.2"
sentry-sdk = "==0.*,>=0.19.5"
sparqlwrapper = "==1.*,>=1.8.5"
tablib = "==3.*,>=3.0.0"
unicodecsv = "==0.*,>=0.14.1"
whitenoise = "==5.*,>=5.2.0"
viecpro_vis = "==0.*,>=0.1.7"

[dev-packages]
jupyter = "==1.*,>=1.0.0"
jupyter-tabnine = "==1.*,>=1.2.3"
pylint = "==2.*,>=2.6.0"
